.App {
  text-align: left;
 }

.App-logo {
  animation: App-logo-spin infinite 16s linear;
  height: 30px;
}

.App-header {
  background-color: rgb(100, 135, 177);
  height: 60px;
  padding: 20px;
  color: rgb(194, 169, 169);
}

.App-title {
  font-size: 1.1em;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.border {
  margin: 1.75%;
}
